body {
  background: url(img/noise.jpg) repeat #042c00;
  position: relative;
}

body.screen2 {
  background: blue;
  color: #f4f4f4;
  padding-top: 5%;
}

body.screen3 {
  background: blue;
  color: #f4f4f4;
  margin: 0;
}

.container {
    color: #f4f4f4;
    display: block;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.5em;
    margin: 0 auto;
    position: relative;
    touch-action: manipulation;
    width: 90%;
    max-width: 1000px;
    z-index: 2;
}

.hide {
    display: none !important;
}

#screen0 {
  padding-top: 10%;
}

#screen0 button {
  background-color: #2c2c2c;
  border: 2px solid #575757;
  border-radius: 10px;
  color: #bc0000;
  cursor: pointer;
  display: block;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 3rem;
  letter-spacing: 5px;
  margin: 0 auto;
  padding: 5%;
  text-align: center;
  width: 50%;
}

#screen0 button:hover {
  padding: 4.5%;
  width: 49%;
}

#screen0 p {
  color: #9c9c9c;
  display: block;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.blink {
    animation: blinker 1s linear infinite;
}

.blink2 {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}
  
span span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

p.three span span {
  border: none;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

#screen1 {
  color: #f4f4f4;
  opacity: 0.6;
  padding-top: 5%;
  position: relative;
}

#screen2 .container {
  background: url(img/screen2.png) #b0b0b0 no-repeat center;
  background-size: 55%;
  border: 5px solid #000;
  color: #2c2c2c;
  padding: 5%;
  text-align: center;
  width: 75%;
}

#screen2 .container .primary {
  font-size: 2em;
}

#screen2 .container .secondary {
  font-size: 1.5em;
}

#screen3 #menu-bar {
  background-color: #9c9c9c;
  color: #000;
  display: flex;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2rem;
  justify-content: space-evenly;
  margin-bottom: 3%;
  padding: 5px 0 5px;
}

#screen3 .container {
  color: #9c9c9c;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#screen3 .container p {
  display: block;
  margin: 0;
  padding: 0 0 5px 0;
  width: 100%;
}

#screen3 .container .indent {
  padding-left: 5%;
}

#screen3 .container .white {
  color: #fff;
}

#screen3 .container .large a {
  border-bottom: 5px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
}

#screen3 .container .yellow {
  color: yellow;
}
