body {
  background-color: #042c00;
  background: url(img/noise.jpg) repeat;
  position: relative;
}

body.screen2 {
  background: blue;
  color: #f4f4f4;
}

.container {
    color: #f4f4f4;
    display: block;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 3EM;
    margin: 0 auto;
    position: relative;
    width: 70%;
    max-width: 1000px;
    z-index: 2;
}

.hide {
    display: none !important;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}
  
span span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

p.three span span {
  border: none;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}


#screen1 {
  color: #f4f4f4;
  opacity: 0.6;
  padding-top: 5%;
  position: relative;
}

#screen2 .container {
  background: url(img/screen2.png) #858585 no-repeat center;
  border: 5px solid #000;
  color: #2c2c2c;
  padding: 1%;
  text-align: center;
}

#screen2 .container .primary {
  font-size: 2em;
}

#screen2 .container .secondary {
  font-size: 1em;
}

#screen3 .container {
  color: #d6d6d6;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#screen3 .container p {
  margin: 0;
  padding: 0 0 10px 0;
}

#screen3 .container .indent {
  padding-left: 1%;
}

#screen3 .container .white {
  color: #fff;
}

#screen3 .container .yellow {
  color: yellow;
}
