#container {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 500px;
}

h1 {
    font-size: 5em;
    color: black;
    text-transform: uppercase;
}

.hide {
    display: none;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}
  
span span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}